.footer{
    /* background-color: var(--blue); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 90%;
    border-radius: 2rem;
    padding: 1.5rem 3rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    /* z-index: 100; */
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 83, 198, 1) 0%,
        rgb(26, 196, 230) 100%
      );
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
   
}
h1{
    cursor: pointer;
}
.social-links{
    margin: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    gap:1.5rem;
    align-items: center;
   
}
.social-link{
    color: var(--white);
    font-size: 2rem !important;
    transition: all .3s ease-in-out !important;
}
.social-link:hover{
    transform: scale(1.5);
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .footer {
      margin: 1.5rem 0.5rem;
      margin-bottom: 6rem;
    }
  
    .footer h2 {
      font-size: 1rem;
    }
  
    .social-links {
      gap: 0.5rem;
    }
    .social-link {
      font-size: 1rem !important;
    }
  }